body {
  background-color: black;
}
.container{
	width: 85%;
	margin:auto;
div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

h1 {
  
  margin: 50px;
  
  color: black;
  font-family: TimesNewRoman;
  font-size: 290%;
}
p {
  
  color: black;
  font-family: TimesNewRoman;
  font-size: 150%;
}
