body {
  background-color: black;
}
.container{
	width: 85%;
	margin:auto;
h1 {
  
  margin: 50px;
  
  color: black;
  font-family: TimesNewRoman;
  font-size: 290%;
}
p {
  
  color: black;
  font-family: TimesNewRoman;
  font-size: 150%;
}
