h1 {
  
  margin: 50px;
  
  color: blue;
  font-family: TimesNewRoman;
  font-size: 290%;
}
p {
  
  color: black;
  font-family: TimesNewRoman;
  font-size: 150%;
}
.table1{
	background-color:black;
	color:black;

	border: 5px black solid;
	border-width:3px;

	padding:20px;
	margin:10px;
}
